body{
    margin: 0;
    background-color: #E1E2E1;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

td {
    padding: 5px 15px;
}

table {
    margin: 5px 25px;
}

.navbar{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00BA96;
}

.navbar_item {
    float: left;
}

.navbar_link  {
    display: block;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font: bold 30px Arial, sans-serif;
}

.navbar_link:hover:not(.active) {
    background-color: #00876e;
}

h1 {
    text-align: center;
    margin: 15px;
}

#user {
    float:right;
}

#wrapper {
    margin: 8% 15%;
    background-color: #F5F5F6;
    padding: 30px;
    border-radius: 5px;
}

#form_div{
    text-align: center;
    margin: 20px 0;
}

#btn_login{
    background-color: #5C0015;
    color: #FFF;
    min-width: 120px;
    min-height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: x-large;
    font-weight: bold;
}

.btn {
    min-width: 100px;
    min-height: 40px;
    border-radius: 5px;
    font-size: larger;
    font-weight: bold;
    align-content: center;
    margin: auto;
}

#btn_manutencao{
    background-color: #FFF500;
    color: #000;
    display: none;
}

#btn_retomada{
    background-color: #1bff00;
    color: #FFF;
    display: none;
}

#buttons{
    display: none;
    text-align: center;
}

.div_pizza{
    height: 500px;
    width: 50%;
    margin: auto;
}

.pizza{
    margin: auto;
    width: 100%;
}

.barra{
    display: inline;
    height: 500px;
    width: 100%;
    margin: 0;
}

#box_ativo{
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color:#40F500;
}

#box_inativo{
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color:#5089DE;
}

#box_manutencao{
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color:#FFF500;
}

#box_emergencia{
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color:#FF162D;
}

#box_invalido{
     display: inline-block;
     height: 20px;
     width: 20px;
     background-color:#8F8F8F;
 }

#box_estado{
     display: inline-block;
     height: 35px;
     width: 100%;
     margin: 0 0 40px 0;
     background-color:#8F8F8F;
 }

#txt_estado{
    display: block;
    font-size: 40px;
}

#log_div{
    display: none;
    border: 1px solid black;
    height: 500px;
    border-radius: 5px;
    line-height: 1.8;
    padding: 10px;
    overflow: scroll;
    font-size: small;
    color: #000;
    background-color: #E1E2E1;
}
