body{
    margin: 0;
    background-color: #E1E2E1;
    font-weight: bold;
}

th, td {
    padding: 15px;
}

ul {
    list-style-type: none;
}

td {
    padding: 5px 15px;
}

table {
    margin: 5px 25px;
}

.navbar{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00BA96;
}

.navbar_item {
    float: left;
}

.navbar_link  {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font: bold 30px Arial, sans-serif;
}

.navbar_link:hover:not(.active) {
    background-color: #00876e;
}

h1 {
    text-align: center;
    margin: 15px;
}

#user {
    float:right;
}

#wrapper {
    margin: 8% 15%;
    background-color: #F5F5F6;
    padding: 30px;
    border-radius: 5px;
}

#form_div{
    text-align: center;
    margin: 20px 0;
}

#btn_login{
    background-color: #5C0015;
    color: #FFF;
    min-width: 120px;
    min-height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: x-large;
    font-weight: bold;
}

.btn {
    min-width: 100px;
    min-height: 40px;
    border-radius: 5px;
    font-size: larger;
    font-weight: bold;
    align-content: center;
    margin: auto;
}

#btn_manutencao{
    background-color: #FFF500;
    color: #000;
    display: none;
}

#btn_retomada{
    background-color: #1bff00;
    color: #FFF;
    display: none;
}

#buttons{
    display: none;
    text-align: center;
}

.div_pizza{
    height: 500px;
    width: 50%;
    margin: auto;
}

.pizza{
    margin: auto;
    width: 100%;
}

.barra{
    display: inline;
    height: 500px;
    width: 100%;
    margin: 0;
}

#box_ativo{
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color:#40F500;
}

#box_inativo{
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color:#5089DE;
}

#box_manutencao{
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color:#FFF500;
}

#box_emergencia{
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color:#FF162D;
}

#box_invalido{
     display: inline-block;
     height: 20px;
     width: 20px;
     background-color:#8F8F8F;
 }

#box_estado{
     display: inline-block;
     height: 35px;
     width: 100%;
     margin: 0 0 40px 0;
     background-color:#8F8F8F;
 }

#txt_estado{
    display: block;
    font-size: 40px;
}

#log_div{
    display: none;
    border: 1px solid black;
    height: 500px;
    border-radius: 5px;
    line-height: 1.8;
    padding: 10px;
    overflow: scroll;
    font-size: small;
    color: #000;
    background-color: #E1E2E1;
}

.bar_container{
    margin: 15px 0;
}

/* slider */
.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px;
    border-radius: 5px;
    background: #878787; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #00BA96; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #00BA96; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/* barra de progresso*/

progress[value] {
    -webkit-appearance: none; /* Reset the default appearance */
    -moz-appearance: none;
    appearance: none;

    /* Get rid of default border in Firefox. */
    border: none;

    /* Dimensions */
    width: 100%;
    height: 25px;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-image:
            -webkit-linear-gradient(-45deg,
            transparent 33%, rgba(0, 0, 0, .1) 33%,
            rgba(0,0, 0, .1) 66%, transparent 66%),
            -webkit-linear-gradient(left, #00BA96, #00BA96);

    border-radius: 2px;
    background-size: 35px 25px, 100% 100%, 100% 100%;
}

progress[value]::-moz-progress-bar {
    background-image:
            -moz-linear-gradient(
                    135deg,
                    transparent 33%,
                    rgba(0, 0, 0, 0.1) 33%,
                    rgba(0, 0, 0, 0.1) 66%,
                    transparent 66%
            ),
            -moz-linear-gradient(
                    left,
                    #00BA96,
                    #00BA96
            );

    border-radius: 2px;
    background-size: 35px 25px, 100% 100%, 100% 100%;
}
